# $Id$

# Log in to crosse.org IMAP at startup
set from="seth@crosse.org"
set realname="Seth Wright"
set spoolfile="+INBOX"
set folder="imaps://imap.gmail.com:993"
set postponed="+[Gmail]/Drafts"
set trash="imaps://imap.gmail.com/[Gmail]/Trash"
set message_cachedir="~/.mailcache/"
set header_cache="~/.mutt/cache/headers"
set message_cachedir="~/.mutt/cache/bodies"
set certificate_file="~/.mutt/certificates"
