# vim: syntax=muttrc

set folder          = ~/.mail               # mailbox location
set alias_file      = ~/.mutt/alias         # where to store aliases
set header_cache    = ~/.mutt/cache/headers # where to store message headers
set message_cachedir= ~/.mutt/cache/bodies  # where to store message bodies
set certificate_file= ~/.mutt/certificates  # where to store certificates
set mailcap_path    = ~/.mutt/mailcap       # entries for filetypes
set tmpdir          = ~/.mutt/temp          # where to keep temp files
set signature       = ~/.mutt/signature
