# vim: syntax=muttrc

# Default inbox.
set spoolfile   = "+crosse.org/INBOX"
mailboxes   +crosse.org/INBOX                   \
            +crosse.org/archive                 \
            +crosse.org/sent                    \
            +crosse.org/spam                    \
            +crosse.org/drafts                  \
            +crosse.org/geek-l                  \
            +crosse.org/illumos-discuss         \
            +crosse.org/itunes store            \
            +crosse.org/mirror-lists            \
            +crosse.org/mirror-lists/archlinux  \
            +crosse.org/mirror-lists/debian     \
            +crosse.org/mirror-lists/manjaro    \
            +crosse.org/mirror-lists/openbsd    \
            +crosse.org/mirror-lists/ubuntu     \
            +crosse.org/newegg                  \
            +crosse.org/smartos-discuss         \
            +crosse.org/tuhs

set mbox        = "+crosse.org/archive"
set postponed   = "+crosse.org/drafts"
