# vim: syntax=muttrc

set wait_key = no
set mbox_type = Maildir

# Stop asking to "move read messages to mbox"
set move = no 

# Reduce polling frequency to a sane level
set mail_check=0
set timeout=3

set delete  # don't ask to delete messages
unset confirmappend
set quit
unset mark_old
set beep_new    # bell on new mails
set pipe_decode # strip headers and eval mime types when piping
set thorough_search # strip headers and eval mime types before searching

set status_chars = " *%A"
set status_format = "---[ Folder: %f ]---[%r%m messages%?n? (%n new)?%?d? (%d to delete)?%?t? (%t tagged)? ]---%>-%?p?( %p postponed )?---"

ignore *                                # ignore all headers...
unignore from: to: cc: date: subject:   # ...except these
unhdr_order *
hdr_order from: to: cc: date: subject:

# Use TLS if available
set ssl_starttls=yes

set pager_index_lines = 10  # number of index lines to show
set pager_context = 3       # number of context lines to show
set pager_stop              # don't go to the next message automatically
set menu_scroll             # scroll in menus
set tilde                   # show tildes like in vim
unset markers               # no ugly plus signs

set quote_regexp = "^( {0,4}[.|:#%| {0,4}[a-z0-9]+[>|]+)+"
alternative_order text/plain text/enriched text/html

set date_format = "%F %H:%M %p"

set sort = threads
#set sort_aux = "last-date-received"
set sort_aux = reverse-last-date-received
set uncollapse_jump
set sort_re
set reply_regexp = "^(([Rr][Ee]?(\[[0-9]+\])?: *)?(\[[^]]+\] *)?)*"

#set index_format="%Z | (%?l?%4l&%4c?) | %(%D %R%p) | %-25.25F | %s %*  %?H?[ %H ] ?"
set index_format = "[%Z]  %D  %-20.20F  %s"
set folder_format="%t%5N | %f"

macro index,pager   'y' "<sync-mailbox><change-folder>?<toggle-mailboxes>"
macro index         'q' "<change-folder>?<toggle-mailboxes>"
macro browser       'q' "<exit><quit>"
