[alias]
	st = status
	ci = commit
	si = commit -S
	co = checkout
	br = branch
	first = log --reverse
	ls = log --oneline --graph
[user]
	name = Seth Wright
	email = seth@crosse.org
	signingkey = F2F1E388
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[credential]
	helper = cache
[credential "https://git.crosse.org"]
	username = seth
[push]
	default = simple
