[user]
    name = Seth Wright
    email = seth@crosse.org
    signingkey = F2F1E388

[alias]
    dc = diff --cached
    st = status
    ci = commit
    si = commit -S
    co = checkout
    br = branch
    first = log --reverse

    ls = log --graph --pretty='%C(bold magenta)%h%Creset [%aN, %ar] %C(bold cyan)%s%Creset'
    sl = "!git ls -20"

    # From http://michaelwales.com/articles/make-gitconfig-work-for-you/
    #   Show all of my configured aliases
    aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t => \\2/' | sort

    #   Start a new local repository and perform initial commit
    this = !git init && git add . && git commit -m \"Initial commit.\"

    #   Thin out older metadata within the repository, reduceses filesystem footprint
    trim = !git reflog expire --expire=now --all && git gc --prune=now

[credential]
    helper = cache

[credential "https://bitbucket.org"]
    username = crosse3

[credential "https://github.com"]
    username = crosse

[diff]
    compactionHeuristic = true

[help]
    format = man

[push]
    default = simple

[gui]
	fontdiff = -family \"Liberation Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
    diffopts = --patience
	fontui = -family \"Liberation Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0

[core]
    excludesfile = ~/.gitignore_global

[url "git@github.com:"]
    insteadOf = github:

[url "git@bitbucket.org:"]
    insteadOf = bb:

[include]
    path = ~/.gitconfig_extra
