! .Xresources

! Define which theme to use here, but include it after everything else.
!#define THEME ".config/Xresources.d/molokai-theme"
#define THEME ".config/Xresources.d/solarized-theme"
#define solarized_light 1

! Per-client tweaks.
#ifdef EXT_Apple_WM
! 27-inch iMac. This is probably horribly wrong, but the XQuartz SRVR_*
! define looks like this:
! -DSRVR__private_tmp_com_apple_launchd_Zip1rMsM6j_org_macosforge_xquartz
! Terribly useful.
    #if WIDTH == 4480 && HEIGHT == 1418
        #define DPI 109
    #endif
#else
! The Dell M3800 has many DPIs.
    #ifdef SRVR_it_15_1660
        #define DPI 283
    #endif
#endif

#ifndef DPI
#define DPI 96
#endif

Xft.dpi: DPI

! Font configuration.
Xft.antialias:          1
Xft.hinting:            1
Xft.rgba:               rgb
Xft.autohint:           0
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
XTerm*faceName:         Monospace
XTerm*faceSize:         10

! Process ~/.profile, if it exists.
XTerm*loginShell:       true
! Present meta-chars as single chars with 8th bit set
XTerm*eightBitInput:    true
! Send DEL instead of ^?
XTerm*deleteIsDEL:      false
! Automatically use *-color resource files if they exist.
*customization: -color

! Cursor tweaks
XTerm*cursorBlink:      true
XTerm*cursorOffTime:    750
XTerm*cursorOnTime:     750

*bellIsUrgent:          true

! Hide the pointer when typing
XTerm*pointerMode:      1

! Scrollbar tweaks
XTerm*scrollBar:        false
! Put the scrollbar on the right
XTerm*rightScrollBar:   true
! Scroll to the bottom when a key is pressed
XTerm*scrollKey:        true
! Do not scroll on output
XTerm*scrollTtyOutput:  false

! xidle config
! How long to wait before running the program when the pointer is placed
! in the hot-corner
XIdle.Delay:            5
! The hot-corner
XIdle.Position:         sw
! The program to run
XIdle.Program:          xlock
! How long to wait before running the Program
XIdle.Timeout:          900

! XLock config
! Delay 30 seconds before requiring a password
XLock.lockdelay:        30
! The screensaver to use
XLock.mode:             fzort
! Show when you are typing
XLock.echokeys:         on
! Print *'s instead of ?'s
XLock.echokey:          *
! Suspend the monitor after 10 minutes
XLock.dpmssuspend:      600

#include THEME
#include ".config/Xresources.d/urxvt"
