# Log in to crosse.org IMAP at startup
set from="seth@crosse.org"
set realname="Seth Wright"
set use_from=yes

# Define the = shortcut, and the entry point for the folder browser
set folder="imaps://seth@crosse.org@imap.gmail.com:993"

# Automatically log in to this mailbox at startup
set spoolfile="+INBOX"

# Define some default folders
set postponed="+[Gmail]/Drafts"
set mbox="+[Gmail]/All Mail"
#set trash="+[Gmail]/Trash"

set smtp_url="smtp://seth@crosse.org@smtp.gmail.com:587/"
set smtp_authenticators="LOGIN"
