# Stop asking to "move read messages to mbox"
set move = no 

# Reduce polling frequency to a sane level
set mail_check=600
set timeout=600
set imap_keepalive=600

# Keep a cache of various things...
set message_cachedir="~/.mailcache/"
# ...like message headers...
set header_cache="~/.muttcache/headers"
# ...and message bodies
set message_cachedir="~/.muttcache/bodies"
# Tell mutt where to keep certificates
set certificate_file="~/.muttcache/certificates"

# Use TLS if available
set ssl_starttls=yes

# Don't wait to enter mailbox manually
unset imap_passive

# Automatically poll subscribed mailboxes for new mail (new in 1.5.11)
set imap_check_subscribed

# Use IMAP IDLE extensions
set imap_idle

# Display download progress every 5KB
set net_inc=5

# Stop at the end of a message instead of jumping to the next message.
set pager_stop

set sort = "threads"
set sort_aux = "last-date-received"

set imap_headers="X-MS-EXCHANGE-ORGANIZATION-SCL X-MS-EXCHANGE-ORGANIZATION-SENDERIDRESULT"
spam "^X-MS-Exchange-Organization-SCL:.*(-?[0-9]+)$"            "SCL/%1"
spam "X-MS-Exchange-Organization-SenderIdResult: (.*)"          "SPF/%1"
set spam_separator=", "

set index_format="%Z | (%?l?%4l&%4c?) | %(%D %R%p) | %-25.25F | %s %*  %?H?[ %H ] ?"
set folder_format="%t%5N | %f"

macro index,pager   'y' "<sync-mailbox><change-folder>?<toggle-mailboxes>"
macro index         'q' "<change-folder>?<toggle-mailboxes>"
macro browser       'q' "<exit><quit>"
