# Ignore everything...
/*

# ...but maybe not .gitignore...
!.gitignore

# ...and maybe also not these things.
!Code
!Xresources.d
!alacritty/
!cppcheck/
!crush/
!exercism/
!flake8
!fontconfig/
!git/
!i3/
!iterm2/
!mise/
!offlineimap
!powershell
!rebar3
!rpmlint
!systemd
!yamllint
