# Ignore everything...
/*

# ...but maybe not .gitignore...
!.gitignore

# ...and maybe also not these things.
!Code
!Xresources.d
!cppcheck/
!exercism
!flake8
!fontconfig
!git
!htop
!i3
!iterm2
!offlineimap
!rebar3
!rpmlint
!systemd
